body {
  background: rgb(99, 182, 99);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(88, 39, 7);
}

.search_form {
  background: rgb(202, 202, 202);
  padding: 1rem;
}

.search_form--input {
  background: rgb(161, 146, 128);
}